//UTILITIES 
$blue-color: #0068b4;
$orange-color: rgb(235 ,91, 63);
$light-grey-color:  rgb(197, 197, 198);
$dark-grey-color:  rgb(143, 149, 151);
$golden-color:rgb(255, 183, 16);
$white-color:#ffffff;
$black-color:#000000;
$footer-color: #e0e0e0;
$menu-color: rgba(#e0e0e0,0.9);
$footer-text-color:#191919;