@import "config";

// ALL NAVBAR STYLING CODE GOES HERE !
// TO TEST THE CODE YOU NEED TO SAVE CHANGES HERE AND  CLICK ON MAIN.SCSS AND THEN PRESS CTRL +S TO SAVE

//NAV WRAPPER TO MAKE IT STICKY

.nav-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
}
//NAV BEFORE
.nav-before {
  width: 100%;
  height: 25px;
  background-color: transparent;
  display: flex;

  .box1 {
    height: 100%;
    background: $blue-color;
    width: 10%;
  }

  .box2 {
    height: 100%;
    width: 3%;
    background: $orange-color;
    margin: 0px 3px;
  }

  .box3 {
    height: 100%;
    width: 3%;
    background: $light-grey-color;
    margin: 0px 3px;
  }

  .box4 {
    height: 100%;
    width: 100%;
    background: $blue-color;
  }
}

//MAIN NAV
//MAIN NAV
.header {
  position: relative;
  // width: 70%;
  width: 100%;
  margin: auto;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  // justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  z-index: -20;
  background-color: $white-color;
  border-bottom: 1px solid rgba($black-color, 0.3);
  .logo {
    img {
      width: 150px;
      // margin-left: -50px;
      // margin-left: -5px;
      margin-left: 195px;
    }
  }
}

.header a {
  margin-top: 10px;
  text-decoration: none;
  // color: $blue-color;
  // color: $black-color;
}
.header ul {
  list-style: none;
}
.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li {
  margin-top: 10px;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in;
}
.menu-items li:hover {
  // background-color: $orange-color;
  // background-color: $blue-color;
  // background-color: $white-color;
}

#searchbox{
  padding: 8px;
  outline: none;
  border: 1px solid rgba($black-color, 0.3);
  // display: none;
  &:focus{
    outline: none;
  }
}
.menu-items li:last-child{
}

// About Us dropdown
.dropdown {
  position: relative;
}
.dropdown-menu,
.nested-menu {
  position: absolute;
  align-items: center;
  // background: $white-color;
  background-color: darken($color: $blue-color, $amount: 15);
  border: 1px solid rgba($white-color, 0.2);
  // width: 120%;
  width: auto;
  margin-top: 1px;
  margin-left: -5px;
  top: 50px;
  left: -33px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.nested-menu {
  top: 0;
  left: 110%;
  margin-left: 1px;
  // border: 1px solid purple;
  border: 1px solid rgba($white-color, 0.2);
  width: 140%;
}
.menu-items {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 16px;
  transition: color 0.3s ease-in;
}
.menu-items li a {
  // color: $black-color;
  color: $white-color;
  &:hover {
    // color: $white-color;
  }
}

.menu-items li a {
  .fas {
    margin-left: 2px;
    // display: none;
  }
}

.menu-items .special-link {
  color: $black-color;
}

.dropdown:hover .dropdown-menu {
  // top: 45px;
  top: 33px;
  opacity: 1;
  visibility: visible;
  border: 1px solid rgba($white-color, 0.2);
  // border: 1px solid red;
  width: 160px;
}
.dropdown-right:hover .nested-menu {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

// megamenu
.mega-menu {
  position: absolute;
  // left: 0;
  left: 50px;
  // width: 100%;
  width: 90%;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  // background-color: $white-color;
}
.mega-menu .content {
  // background-color: $menu-color;
  background-color: darken($color: $blue-color, $amount: 15);
  // border: solid 1px black;
  border: 1px solid rgba($white-color, 0.2);
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  justify-content: space-between;
}
.services .mega-menu .content {
  background-color: $white-color;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  justify-content: space-between;
}

.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 16px;
}

.content .col h2 {
  // color: $black-color;
  color: $white-color;
  font-size: 18px;
  line-height: 16px bolder;
  font-weight: bold;
  text-align: center;
  background: rgba(darken($color: $blue-color, $amount: 20), 0.7);
}
.content .col .mega-links {
  // border-left: 1px solid #1a3246;
  border-left: 1px solid rgba($white-color, 0.2);
}
.col .mega-links li,
.col .mega-links li a {
  padding: 0 10px;
}
.menu-items li:hover .mega-menu {
  top: 65px;
  opacity: 1;
  visibility: visible;
}
.fa-circle {
  font-size: 8px;
  text-align: center;
  padding: 3px;
}

//  nav menu button
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  top: 28px;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: $black-color;
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: $black-color;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: $black-color;
}

// Media queries
@media screen and (max-width: 970px) {
  .header{
    justify-content: space-evenly;
    .logo{
      img{
        margin: 0;
      }
    }
  }
  .menu-btn {
    display: flex;
  }
  .header .menu-items {
    position: absolute;
    height: calc(100vh - 100%);
    width: 100%;
    max-width: 550px;
    top: 100%;
    right: 0;
    // background: $white-color;
    background-color: darken($color: $blue-color, $amount: 15);
    border: 1px solid rgba($white-color, 0.2);
    display: block;
    padding: 1rem;
    line-height: 3rem;
    overflow-y: auto;
    opacity: 0;
    transform: translateY(0vh);
    // transform: translateX(500px);
    transition: opacity 0.3s ease-in;
    display: none;
    margin-top: 0;
  }
  .menu-items.open {
    opacity: 1;
    transform: translateY(0);
    display: block;
    // transform: translateX(0);
  }
  .menu-items li {
    // margin: 15px 10px;
    // margin: 15px 0;
  }
  .menu-items li a {
    // padding: 0px 16px;
    display: block;
    // font-size: 1.4rem;
  }
  .menu-items li:hover {
    background-color: transparent;
  }
  //main links on navbar
  .menu-items .special-link {
    color: $white-color;
  }

  //  Dropdown mega menu
  .menu-items .dropdown-menu,
  .menu-items .nested-menu,
  .menu-items .mega-menu {
    position: static;
    opacity: 1;
    top: 4rem;
    visibility: visible;
    padding-left: 1rem;
    width: 100%;
    max-height: 0;
    transform: scaleY(1);
    transform-origin: top;
    overflow: hidden;
    transition: all 0.3 ease-in;
    // border-bottom: solid 1px black;
    border-bottom: 1px solid rgba($white-color, 0.2);
  }
  .expand-btn.open + .expandable {
    max-height: 100%;
    transform: scaleY(1);
  }
  .expandable li {
    margin: 0;
  }
  .expandable li a {
    font-size: 16px;
  }
  .mega-menu .content {
    grid-template-columns: auto;
    padding: 1rem 1rem 0 1rem;
  }
  .mega-menu .content .col {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #1a3246;
  }

  .mega-menu .content .col:nth-child(1) {
    border-top: 0px;
  }
  .content .col .mega-links {
    border-left: 0px;
    // padding: 1rem;
  }
  .col .mega-links li {
    margin: 0;
  }
 

  // Dropdown anout us
  .dropdown-menu,
  .nested-menu {
    // border-bottom: solid 1px black;
    // border-bottom: 1px solid rgba($white-color, 0.2);
    line-height: 16px;
  }
  #blogs {
    // border-bottom: solid 1px black;
    border-bottom: 1px solid rgba($white-color, 0.2);
  }

  //dropdowns  and nested menus

  .nested-menu {
    width: 100%;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown:hover .dropdown-menu {
    width: 100%;
  }

  #searchbox{
    display: none;
  }

  .menu-items .link-lang-en,
  .menu-items .link-lang-de,
  .menu-items .fas.fa-search{
    display: none;
  }
 
}
