@import "utilities";
@import "config";

//SMALL DEVICES
@media only screen and(max-width:450px) {
  main {
    &.home {
      .swiper-container {
        justify-content: center;
        align-items: center;
        .swiper-button-next,
        .swiper-button-prev {
          display: none;
        }
        .swiper-slide {
          .modal {
            width: 90%;
            margin: 0 auto;
            height: auto;
            justify-content: center;
            padding: 0;
            text-align: center;
            h1 {
              font-size: 24px;
              text-align: center;
            }
            .home-contact-btn {
              margin: 5px 0;
              font-size: 18px;
              width: auto;
            }
          }
        }
      }
      //NEWS SECTION
      .news {
        height: auto;
        h1 {
          font-size: 24px;
        }
        .bottom-line {
          width: 4rem;
        }
        .news-grid {
          grid-template-columns: 1fr;
        }
      }

      //CUSTOMER STORIES SECTION
      .customer-stories {
        height: auto;
        h1 {
          font-size: 24px;
        }
        .bottom-line {
          width: 4rem;
        }

        .customer-stories-grid {
          grid-template-columns: 1fr;
        }
      }

      //BLOGS SECTION
      .blogs {
        height: auto;
        margin: 20px 0;
        h1 {
          font-size: 24px;
        }
        .bottom-line {
          width: 4rem;
        }

        .btn-all-blogs {
        }

        &-grid {
          grid-template-columns: 1fr;
          .box {
            margin-bottom: 20px;
          }
        }
      }

      //NEWSLETTER SECTION
      .newsletter {
        h1 {
          font-size: 24px;
        }

        .btn-home-subscribe {
          width: 40%;
        }
        .bottom-line {
          width: 4rem;
        }

        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: rgba($black-color, 0.4);
        }
      }

      //PARTNERS SECTION
      .partners {
        h1 {
          font-size: 24px;
        }

        .find-partner {
          width: 40%;
        }
        .bottom-line {
          width: 4rem;
        }
        .swiper-container {
          .swiper-slide {
            justify-content: space-between;
            img {
              width: 100px;
            }
          }
        }
      }
    }

    //TERMS AND CONDITIONS PAGE

    &.terms {
      .container-terms {
        &-overlay {
          h1 {
            font-size: 24px;
          }
        }
      }

      .terms-heading {
        padding: 5px;
        width: 100%;
        h1 {
          font-size: 24px;
        }
      }

      .terms-downloads {
        grid-template-columns: 1fr;
      }
    }

    //legal page

    &.legal {
      .container-legal {
        &-overlay {
          h1 {
            font-size: 24px;
          }
        }
      }

      .container-legal-grid {
        grid-template-columns: 1fr;

        &-box {
          font-size: 16px;
          padding: 5px;
        }
      }
    }

    //Engagement and research page

    &.engagement {
      .container-engagement {
        &-overlay {
          h1 {
            font-size: 24px;
          }
        }
      }

      .engagement-research {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        &-img {
          padding: 5px;
          img {
            width: 95%;
          }
        }

        &-info {
          padding: 16px;
          margin: 0;
          h1 {
            font-size: 24px;
            text-align: center;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }

    //Business ethics page

    &.business-ethics {
      .container-ethics {
        &-overlay {
          h1 {
            font-size: 24px;
          }
        }
      }

      .ethics-principles {
        flex-wrap: wrap;

        &-img {
          img {
            width: 95%;
          }
        }
      }

      .ethics-downloads {
        grid-template-columns: 1fr;
      }
    }

    //MANAGEMENT PAGE

    &.management {
      .container-management {
        &-overlay {
          h1 {
            font-size: 24px;
          }
          p {
            display: none;
          }
          h3 {
            display: none;
          }
        }
      }

      .container-ceos {
        padding: 20px 0;
        height: auto;
        &-stefan {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 300px;
            }
          }
        }
      }

      .container-ceos2 {
        height: auto;
        padding: 20px 0;

        &-malte {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 300px;
            }
          }
        }
      }

      .container-ceos3 {
        height: auto;
        padding: 20px 0;
        &-martin {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 300px;
            }
          }
        }
      }

      .container-ceos4 {
        height: auto;
        padding: 20px 0;
        &-ansgar {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 300px;
            }
          }
        }
      }

      .container-ceos5 {
        height: auto;
        padding: 20px 0;
        &-stefan2 {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 300px;
            }
          }
        }
      }
    }

    //INVESTORS PAGE

    &.investors {
      .container-investors {
        &-overlay {
          h1 {
            font-size: 24px;
          }
        }
        &-groups {
          height: auto;
          &-eqt,
          &-bip,
          &-pinova {
            grid-template-columns: 1fr;
          }
        }
      }
    }

    //EVENTS PAGE

    &.events {
      .container-events {
        &-overlay {
          h1 {
            font-size: 24px;
          }
        }

        &-grid {
          grid-template-columns: 1fr;
        }
      }
    }

    //NEWS PAGE
    &.news {
      .container-news {
        &-overlay {
          h1 {
            font-size: 24px;
          }
        }

        &-search {
          input {
            width: 80%;
          }
          &-grid {
            grid-template-columns: 1fr;
            .news-box {
              p {
                font-size: 16px;
              }
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    //CONTACT PAGE
    &.contact {
      .container-contact {
        h1 {
          font-size: 24px;
        }
      }
      .form-container {
        h1 {
          font-size: 24px;
        }
        .bottom-line {
          width: 4rem;
        }

        &-form {
          form {
            .text-fields {
              grid-template-areas: "firstName" "lastName" "company" "email" "message";
            }
          }
        }
      }

      .utimaco-portal {
        &-contact {
          width: 90%;
          h1 {
            font-size: 24px;
          }
        }
      }

      .offices {
        height: auto;
        h1 {
          font-size: 24px;
        }

        .bottom-line {
          width: 4rem;
        }
        &-flex {
          .box-location {
            margin-bottom: 10px;
          }
        }
      }
    }

    //ABOUT US PAGE
    &.aboutus {
      .container-welcome {
        &-overlay {
          h1 {
            font-size: 24px;
          }
        }
      }

      .container-information {
        flex-wrap: wrap;
        padding: 5px;
        &-iframe {
          width: 100%;
          iframe {
            width: 100%;
          }
        }

        &-text {
          padding: 5px;
          h1 {
            font-size: 24px;
          }
        }
      }

      .container-timeline {
        font-size: 16px;
      }

      .counters {
        grid-template-columns: 1fr;
        padding: 5px;
        height: auto;
        font-size: 16px;
        div {
          margin: 5px 0;
        }
      }
    }

    //STORIES PAGE
    &.stories {
      .container-stories {
        &-overlay {
          text-align: center;
          h1 {
            font-size: 24px;
          }
        }

        &-filter {
          .filter-links {
            height: auto;
            flex-direction: column;

            a {
              display: block;
              margin: 5px 0;
            }
          }

          .container-stories-grid {
            grid-template-columns: 1fr;
            .stories-box {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  //MAIN FOOTER
  .main-footer {
    height: auto;
    &-container {
      .footer-grid {
        grid-template-columns: 1fr;
      }

      .footer-privacy-links {
        .privacy-boxes {
          width: 100%;
          flex-wrap: wrap;
          .box {
            border: 0;
          }
        }
      }
    }
  }
}

//MEDIUM SCREENS
@media (min-device-width: 450px) and (max-device-width: 769px) {
  main {
    &.home {
      .swiper-container {
        justify-content: center;
        align-items: center;
        .swiper-button-next,
        .swiper-button-prev {
          // display: none;
        }
        .swiper-slide {
          .modal {
            width: 90%;
            margin: 0 auto;
            height: auto;
            justify-content: center;
            padding: 5px;
            text-align: center;
            h1 {
              font-size: 30px;
              text-align: center;
            }
            .home-contact-btn {
              margin: 5px 0;
              font-size: 18px;
              width: auto;
            }
          }
        }
      }
      //NEWS SECTION
      .news {
        height: auto;
        h1 {
          font-size: 30px;
        }
        .bottom-line {
          width: 4rem;
        }
        .news-grid {
          grid-template-columns: 1fr;
        }
      }

      //CUSTOMER STORIES SECTION
      .customer-stories {
        height: auto;
        h1 {
          font-size: 30px;
        }
        .bottom-line {
          width: 4rem;
        }

        .customer-stories-grid {
          grid-template-columns: 1fr;
        }
      }

      //BLOGS SECTION
      .blogs {
        height: auto;
        margin: 20px 0;
        h1 {
          font-size: 30px;
        }
        .bottom-line {
          width: 4rem;
        }

        .btn-all-blogs {
        }

        &-grid {
          grid-template-columns: 1fr;
          .box {
            margin-bottom: 20px;
          }
        }
      }

      //NEWSLETTER SECTION
      .newsletter {
        h1 {
          font-size: 30px;
        }

        .btn-home-subscribe {
          width: 40%;
        }
        .bottom-line {
          width: 4rem;
        }

        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: rgba($black-color, 0.4);
        }
      }

      //PARTNERS SECTION
      .partners {
        h1 {
          font-size: 30px;
        }

        .find-partner {
          width: 40%;
        }
        .bottom-line {
          width: 4rem;
        }
        .swiper-container {
          .swiper-slide {
            justify-content: space-between;
            img {
              width: 100px;
            }
          }
        }
      }
    }

    //TERMS AND CONDITIONS PAGE

    &.terms {
      .container-terms {
        &-overlay {
          h1 {
            font-size: 30px;
          }
        }
      }

      .terms-heading {
        padding: 5px;
        width: 100%;
        h1 {
          font-size: 30px;
        }
      }

      .terms-downloads {
        grid-template-columns: 1fr;
      }
    }
    //legal page

    &.legal {
      .container-legal {
        &-overlay {
          h1 {
            font-size: 30px;
          }
        }
      }

      .container-legal-grid {
        grid-template-columns: 1fr;

        &-box {
          font-size: 18px;
          padding: 5px;
        }
      }
    }

    //Engagement and research page

    &.engagement {
      .container-engagement {
        &-overlay {
          h1 {
            font-size: 30px;
          }
        }
      }

      .engagement-research {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        &-img {
          padding: 5px;
          img {
            width: 95%;
          }
        }

        &-info {
          padding: 16px;
          margin: 0;
          h1 {
            font-size: 30px;
            text-align: center;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }

    //MANAGEMENT PAGE

    &.management {
      .container-management {
        &-overlay {
          h1 {
            font-size: 30px;
          }
          p {
            display: none;
          }
          h3 {
            display: none;
          }
        }
      }

      .container-ceos {
        padding: 20px 0;
        height: auto;
        &-stefan {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 450px;
            }
          }
        }
      }

      .container-ceos2 {
        height: auto;
        padding: 20px 0;

        &-malte {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 450px;
            }
          }
        }
      }

      .container-ceos3 {
        height: auto;
        padding: 20px 0;
        &-martin {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 450px;
            }
          }
        }
      }

      .container-ceos4 {
        height: auto;
        padding: 20px 0;
        &-ansgar {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 450px;
            }
          }
        }
      }

      .container-ceos5 {
        height: auto;
        padding: 20px 0;
        &-stefan2 {
          grid-template-columns: 1fr;
          &-img {
            img {
              width: 450px;
            }
          }
        }
      }
    }

    //Business ethics page

    &.business-ethics {
      .container-ethics {
        &-overlay {
          h1 {
            font-size: 30px;
          }
        }
      }

      .ethics-principles {
        flex-wrap: wrap;

        &-img {
          img {
            width: 95%;
          }
        }
      }

      .ethics-downloads {
        grid-template-columns: 1fr;
      }
    }

    //INVESTORS PAGE

    &.investors {
      .container-investors {
        &-overlay {
          h1 {
            font-size: 30px;
          }
        }
        &-groups {
          height: auto;
          &-eqt,
          &-bip,
          &-pinova {
            grid-template-columns: 1fr;
          }
        }
      }
    }
    //NEWS PAGE
    &.news {
      .container-news {
        &-overlay {
          h1 {
            font-size: 30px;
          }
        }

        &-search {
          input {
            width: 80%;
          }
          &-grid {
            grid-template-columns: 1fr;
            .news-box {
              p {
                font-size: 18px;
              }
              a {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    //events page
    &.events {
      .container-events {
        &-overlay {
          h1 {
            font-size: 30px;
          }
        }

        &-grid {
          grid-template-columns: 1fr;
        }
      }
    }

    //CONTACT PAGE
    &.contact {
      .container-contact {
        h1 {
          font-size: 30px;
        }
      }
      .form-container {
        h1 {
          font-size: 30px;
        }
        .bottom-line {
          width: 4rem;
        }

        &-form {
          form {
            .text-fields {
              grid-template-areas: "firstName" "lastName" "company" "email" "message";
            }
          }
        }
      }

      .utimaco-portal {
        &-contact {
          width: 90%;
          h1 {
            font-size: 30px;
          }
        }
      }

      .offices {
        height: auto;
        h1 {
          font-size: 30px;
        }

        .bottom-line {
          width: 4rem;
        }
        &-flex {
          .box-location {
            margin-bottom: 10px;
          }
        }
      }
    }

    //ABOUT US PAGE
    &.aboutus {
      .container-welcome {
        &-overlay {
          h1 {
            font-size: 30px;
          }
        }
      }

      .container-information {
        flex-wrap: wrap;
        padding: 5px;
        &-iframe {
          width: 100%;
          iframe {
            width: 100%;
          }
        }

        &-text {
          padding: 5px;
          p {
            font-size: 18px;
          }
          h1 {
            font-size: 30px;
          }
        }
      }

      .container-timeline {
        font-size: 18px;
      }

      .counters {
        grid-template-columns: 1fr;
        padding: 5px;
        height: auto;
        font-size: 18px;
        div {
          margin: 5px 0;
        }
      }
    }

    //STORIES PAGE
    &.stories {
      .container-stories {
        &-overlay {
          text-align: center;
          h1 {
            font-size: 30px;
          }
        }

        &-filter {
          .filter-links {
            height: auto;
            flex-direction: column;

            a {
              display: block;
              margin: 5px 0;
            }
          }

          .container-stories-grid {
            grid-template-columns: 1fr;
            .stories-box {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  //MAIN FOOTER
  .main-footer {
    height: auto;
    &-container {
      .footer-grid {
        grid-template-columns: 1fr;
      }

      .footer-privacy-links {
        .privacy-boxes {
          width: 100%;
          flex-wrap: wrap;
          .box {
            border: 0;
          }
        }
      }
    }
  }
}

//BIGGER SCREENS
@media (min-device-width: 770px) and (max-device-width: 1200px) {
  main {
    &.home {
      .swiper-container {
        justify-content: center;
        align-items: center;
        .swiper-button-next,
        .swiper-button-prev {
          // display: none;
        }
        .swiper-slide {
          .modal {
            width: 90%;
            margin: 0 auto;
            height: auto;
            justify-content: center;
            padding: 5px;
            text-align: center;
            h1 {
              font-size: 35px;
              text-align: center;
            }
            .home-contact-btn {
              margin: 5px 0;
              font-size: 18px;
              width: auto;
            }
          }
        }
      }
      //NEWS SECTION
      .news {
        height: auto;
        h1 {
          font-size: 35px;
        }
        .bottom-line {
          width: 5rem;
        }
        .news-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      //CUSTOMER STORIES SECTION
      .customer-stories {
        height: auto;
        h1 {
          font-size: 35px;
        }
        .bottom-line {
          width: 5rem;
        }

        .customer-stories-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      //BLOGS SECTION
      .blogs {
        height: auto;
        margin: 20px 0;
        h1 {
          font-size: 35px;
        }
        .bottom-line {
          width: 5rem;
        }

        .btn-all-blogs {
        }

        &-grid {
          grid-template-columns: repeat(2, 1fr);
          .box {
            margin-bottom: 20px;
          }
        }
      }

      //NEWSLETTER SECTION
      .newsletter {
        h1 {
          font-size: 35px;
        }

        .btn-home-subscribe {
          width: 40%;
        }
        .bottom-line {
          width: 5rem;
        }

        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: rgba($black-color, 0.4);
        }
      }

      //PARTNERS SECTION
      .partners {
        h1 {
          font-size: 35px;
        }

        .find-partner {
          width: 40%;
        }
        .bottom-line {
          width: 5rem;
        }
        .swiper-container {
          .swiper-slide {
            justify-content: space-between;
            img {
              width: 100px;
            }
          }
        }
      }

      //TERMS AND CONDITIONS PAGE

      &.terms {
        .container-terms {
          &-overlay {
            h1 {
              font-size: 35px;
            }
          }
        }

        .terms-heading {
          padding: 5px;
          width: 100%;

          h1 {
            font-size: 35px;
          }
        }

        .terms-downloads {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      //legal page

      &.legal {
        .container-legal {
          &-overlay {
            h1 {
              font-size: 35px;
            }
          }
        }

        .container-legal-grid {
          grid-template-columns: 1fr 1fr;

          &-box {
            font-size: 18px;
            padding: 5px;
          }
        }
      }

      //NEWS PAGE
      &.news {
        .container-news {
          &-overlay {
            h1 {
              font-size: 35px;
            }
          }

          &-search {
            input {
              width: 80%;
            }
            &-grid {
              grid-template-columns: repeat(2, 1fr);
              .news-box {
                p {
                  font-size: 18px;
                }
                a {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }

      //Engagement and research page

      &.engagement {
        .container-engagement {
          &-overlay {
            h1 {
              font-size: 35px;
            }
          }
        }

        .engagement-research {
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;

          &-img {
            padding: 5px;
            img {
              width: 95%;
            }
          }

          &-info {
            padding: 16px;
            margin: 0;
            h1 {
              font-size: 35px;
              text-align: center;
            }

            p {
              font-size: 18px;
            }
          }
        }
      }

      //MANAGEMENT PAGE

      &.management {
        .container-management {
          &-overlay {
            h1 {
              font-size: 35px;
            }
            p {
              display: none;
            }
            h3 {
              display: none;
            }
          }
        }

        .container-ceos {
          padding: 20px 0;
          height: auto;
          &-stefan {
            grid-template-columns: repeat(2, 1fr);
            &-img {
              img {
                width: 400px;
              }
            }
          }
        }

        .container-ceos2 {
          height: auto;
          padding: 20px 0;

          &-malte {
            grid-template-columns: repeat(2, 1fr);
            &-img {
              img {
                width: 400px;
              }
            }
          }
        }

        .container-ceos3 {
          height: auto;
          padding: 20px 0;
          &-martin {
            grid-template-columns: repeat(2, 1fr);
            &-img {
              img {
                width: 400px;
              }
            }
          }
        }

        .container-ceos4 {
          height: auto;
          padding: 20px 0;
          &-ansgar {
            grid-template-columns: repeat(2, 1fr);
            &-img {
              img {
                width: 400px;
              }
            }
          }
        }

        .container-ceos5 {
          height: auto;
          padding: 20px 0;
          &-stefan2 {
            grid-template-columns: repeat(2, 1fr);
            &-img {
              img {
                width: 400px;
              }
            }
          }
        }
      }

      //INVESTORS PAGE

      &.investors {
        .container-investors {
          &-overlay {
            h1 {
              font-size: 35px;
            }
          }
          &-groups {
            height: auto;
            &-eqt,
            &-bip,
            &-pinova {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }

      //events page
      &.events {
        .container-events {
          &-overlay {
            h1 {
              font-size: 35px;
            }
          }

          &-grid {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
      //ABOUT US PAGE
      &.aboutus {
        .container-welcome {
          &-overlay {
            h1 {
              font-size: 35px;
            }
          }
        }

        .container-information {
          flex-wrap: wrap;
          padding: 5px;
          &-iframe {
            width: 100%;
            iframe {
              width: 100%;
            }
          }

          &-text {
            padding: 5px;
            p {
              font-size: 18px;
            }
            h1 {
              font-size: 35px;
            }
          }
        }
      }

      //STORIES PAGE
      &.stories {
        .container-stories {
          &-overlay {
            text-align: center;
            h1 {
              font-size: 35px;
            }
          }

          &-filter {
            .filter-links {
              height: auto;
              flex-direction: column;

              a {
                display: block;
                margin: 5px 0;
              }
            }

            .container-stories-grid {
              grid-template-columns: repeat(2, 1fr);
              .stories-box {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  //MAIN FOOTER
  .main-footer {
    height: auto;
    &-container {
      .footer-grid {
        grid-template-columns: repeat(4, 1fr);
      }

      .footer-privacy-links {
        .privacy-boxes {
          width: 100%;
          flex-wrap: wrap;
          .box {
            border: 0;
          }
        }
      }
    }
  }
}
